.topnav {
    position: fixed;
    top: 1em;
    left: 1em;
}
input.menuInput {
    display: none;
    background-color: rgb(172, 0, 0);
  }

  .menuLabel{
    border: 1px solid #000000;
    border-radius: 6px;
    background-color: rgb(110, 0, 0);
  }
  .menuLabel {
    color: #cc0000;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    padding: 5px 9px;
    transition: all .15s ease;
  }
  .menuLabel:hover {
    color: #000000;
  }
  .menuInput:checked + label {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
    color: #640000;
  }
  .topmenu {
    list-style: none;
    position: fixed;
    top: 3em;
    left: -15em;
    width: 15em;
    background-color: rgba(0, 0, 0, 0.15);
    color: #fff;
    transition: all .5s ease;
  }
  .menuInput:checked ~ .topmenu {
    /*max-height: 500px;*/
    left: 1em;
  }
  .topmenu {
    list-style: none;
    margin: 8px 0 0 0;
    padding: 0;
    width: 100px;
  }
  .topmenu li {
    border-bottom: 1px solid #000000;
  }
  .topmenu li:last-child {
    border-bottom: 0;
  }
  a {
    color: #5f0000;
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
  .topmenu a:hover {
    color: #fa2b2b;
  }
  @media screen and (min-width:60em){
      .topnav{
          top: 0;
          left: 0;
          width: 100%;
          background-color: rgb(121, 0, 0);
      }
      .menuLabel{
          display: none;
      }
      .topmenu{
          display: flex;
          flex-flow: row;
          list-style: none;
          position: fixed;
          top: 0;
          left: 0;
          margin: 0;
          width: 100%;
          transition: none;
      }
      .topmenu li{
          border-bottom: 0vmin;
          margin: 0;
          padding-left: 3em;
      }
  }